@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive&family=Lekton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.contactSection {
  min-height: 60rem; 
  position: relative; 
  width: 90%;
  margin: 0 auto;
}

.contactUs {
  display: flex;
  width: 100%;
  color: #161534;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 0 2rem 0;
}

.text {
  width: 55%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: Raleway;
  line-height: 2;
}

.text h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.text h4 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.blueDot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(76, 164, 202, 0.5);
  margin: 0.5rem 0.5rem;
  padding: 7px;
}

.p {
    margin: 5px 0 0 0;
    padding: 0;
  }
 
  .textarea, .input, .button {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    font-family: 'Montserrat';
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .textarea, .input {
    color: #4e5e72;
    background-color: white;
    border: none;
    border-bottom: solid 1px rgba(78, 94, 114, 0.3);
    padding: 10px;
    border-radius: 10px;
  }
 .textarea {
   width: 100%;
   height: 8rem;
   resize: none;
  }
  .input {
   width: 50%;
  }
  .input[type=text]:invalid, .input [type=email]:invalid {
      box-shadow: none;
      border: none;
      border-bottom: solid 2px #474544;
    }
  .button {
   padding: 0.5rem 1rem;
   border-radius: 25px;
   background-color: rgba(78, 94, 114, 0.9);
   color: white;
   font-size: 1rem;
   transition: background-color 0.2s;
  }
  .button:hover,.button :focus {
      outline: none;
      background-color: rgba(78, 94, 114, 1);
    }
  .input[type=text]:focus,
  .input[type=email]:focus,
  .textarea:focus {
    
    outline: none;
    border-bottom: solid 1px rgb(130, 191, 218);
  }
  .wrapper {
    width: 35rem;
    background-color: white;
  }
  .letter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 30rem;
    margin: auto;
    perspective: 60rem;
  }
  .side {
    height: 14rem;
    background-color: whitesmoke;
    outline: 1px solid transparent;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  }
  .side:nth-of-type(1) {
      padding: 2rem 2rem 0;
      border-radius: 1rem 1rem 0 0;
    }
  .side.side:nth-of-type(2) {
      padding: 1rem 2rem;
      border-radius: 0 0 1rem 1rem;
      text-align: right;
    }
  .envelope {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
  .envelope.front {
    width: 10rem;
    height: 6rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    z-index: 9999;
    opacity: 0;
  }
  .envelope.front::before, .envelope.front::after {
    position: absolute;
    display: block;
    width: 12rem;
    height: 6rem;
    background-color: #e9dc9d;
    transform: rotate(30deg);
    transform-origin: 0 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    content: '';
  }
  .envelope.front::after{
    right: 0;
    transform: rotate(-30deg);
    transform-origin: 100% 0;
  }
  .envelope.back {
    top: -4rem;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    z-index: -9998;
    opacity: 0;
    transform: translateY(-6rem);
  }
  .envelope.back::before {
      display: block;
      width: 10rem;
      height: 10rem;
      background-color: #e9dc9d;
      border-radius: 1rem;
      content: '';
      transform: scaleY(0.6) rotate(45deg)
    }
  .resultMessage {
    opacity: 0;
    transition: transform 0.3s 2s,
                opacity 0.3s 2s;
    transform: translateY(9rem);
    z-index: -9999;
    font-family: Montserrat;
    text-align: center;
    font-size: 1.2rem;
  }
  .sent .letter {
      -webkit-animation: scaleLetter 1s forwards ease-in /*,
                 pushLetter 0.5s 1.33s forwards ease-out*/ ;
              animation: scaleLetter 1s forwards ease-in /*,
                 pushLetter 0.5s 1.33s forwards ease-out*/ ;
    }
  .sent .side:nth-of-type(1) {
      transform-origin: 0 100%;
      -webkit-animation: closeLetter 0.66s forwards ease-in;
              animation: closeLetter 0.66s forwards ease-in;
    }
  .sent .side:nth-of-type(1) h1, .sent .side:nth-of-type(1) textarea {
      -webkit-animation: fadeOutText 0.66s forwards linear;
              animation: fadeOutText 0.66s forwards linear;
    }
  .sent button {
      background-color: rgba(78, 94, 114, 0.2);
    }
  .sent .envelope {
      -webkit-animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
              animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
    }
  .sent .resultMessage {
      opacity: 1;
      transform: translateY(12rem);
    }
 
  .sent small {
      opacity: 0;
    }
  .centered {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1rem auto;
  }

  .alertVisible {
    visibility: visible;
    color: rgb(187, 16, 16);
    font-size: 13px;
    margin-bottom: 3px;
  }

  .alertHidden {
    visibility: hidden;
  }

  .sent .resend {
    opacity: 1;
  }

  button.resend {
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s 2s;
    margin-top: 2rem;
  }

  .messageInvisible {
    visibility: hidden;
  }

  @-webkit-keyframes closeLetter {
     50% {transform: rotateX(-90deg);}
     100% {transform: rotateX(-180deg);}
  }
  @keyframes closeLetter {
     50% {transform: rotateX(-90deg);}
     100% {transform: rotateX(-180deg);}
  }
  @-webkit-keyframes fadeOutText {
     49% {opacity: 1;}
     50% {opacity: 0;}
     100% {opacity: 0;}
  }
  @keyframes fadeOutText {
     49% {opacity: 1;}
     50% {opacity: 0;}
     100% {opacity: 0;}
  }
  @-webkit-keyframes fadeInEnvelope {
    0% {opacity: 0; transform: translateY(8rem);}
    /*90% {opacity: 1; transform: translateY(4rem);}*/
    100% {opacity: 1; transform: translateY(4.5rem);}
  }
  @keyframes fadeInEnvelope {
    0% {opacity: 0; transform: translateY(8rem);}
    /*90% {opacity: 1; transform: translateY(4rem);}*/
    100% {opacity: 1; transform: translateY(4.5rem);}
  }
  @-webkit-keyframes scaleLetter {
    66% {transform: translateY(-8rem) scale(0.5, 0.5);}
    75% {transform: translateY(-8rem) scale(0.5, 0.5);}
    90% {transform: translateY(-8rem) scale(0.3, 0.5);}
    97% {transform: translateY(-8rem) scale(0.33, 0.4);}
    100%{transform: translateY(-8rem) scale(0.3, 0.3);}
  }
  @keyframes scaleLetter {
    66% {transform: translateY(-8rem) scale(0.5, 0.5);}
    75% {transform: translateY(-8rem) scale(0.5, 0.5);}
    90% {transform: translateY(-8rem) scale(0.3, 0.5);}
    97% {transform: translateY(-8rem) scale(0.33, 0.4);}
    100%{transform: translateY(-8rem) scale(0.3, 0.3);}
  }

  
  @media (max-width: 1024px) {
    .text {
      width: 80%;
      font-size: 1.1rem;
    }

    .text h2 {
      font-size: 1.3rem
    }

    .text h4 {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 768px) {
    .text {
      width: 90%;
      font-size: 1rem;
    }
    .text h2 {
      font-size: 1.2rem
    }
    .text h4 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 600px) {
    .contactSection {
      width: 100%;
    }

    .h1 {
      font-size: 1.5rem;
    }
    .wrapper {
      width: auto;
      margin: 0 1rem;
    }
    .letter {
      width: auto;
    }
    .side:nth-of-type(1),.side.side:nth-of-type(2) {
      padding: 0.5rem 0.5rem;
    }
    .side {
      height: 16rem;
    }
    .textarea {
      height: 10rem;
    }
    .input {
      width: 70%;
    }
    .textarea, .input {
      font-size: 14px;
    }

    @-webkit-keyframes scaleLetter {
      66% {transform: translateY(-8rem) scale(0.5, 0.5);}
      75% {transform: translateY(-8rem) scale(0.5, 0.5);}
      90% {transform: translateY(-8rem) scale(0.3, 0.5);}
      97% {transform: translateY(-8rem) scale(0.33, 0);}
      100%{transform: translateY(-8rem) scale(0.3, -0.2);}
    }
    @keyframes scaleLetter {
      66% {transform: translateY(-8rem) scale(0.5, 0.5);}
      75% {transform: translateY(-8rem) scale(0.5, 0.5);}
      90% {transform: translateY(-8rem) scale(0.3, 0.5);}
      97% {transform: translateY(-8rem) scale(0.33, 0);}
      100%{transform: translateY(-8rem) scale(0.3, -0.2);}
    }
  }