@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200;400&family=Square+Peg&display=swap');

nav.navPanel {
  display: flex;
  align-items: center;
  height: 10rem;
  padding: 0 2rem;
  box-shadow: 0 5px 5px -5px gray;
  background-color: #fafafa;
}

.logo {
  width: 150px;
  height: 150px;
  padding-top: 10px;
}


div.container {
    width: 100%;
}

div.container ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

div.container a {
  text-decoration: none;
  font: 1.5rem Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  white-space: nowrap;
}

div.pullRight a:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: rgba(76,164,202, 0.8);
  border-radius: 10px;
  opacity: 0.3;
  transition: all 0.3s;
}

div.pullRight a:hover:before {
  width: 100%;
}

.socialIcon {
  margin: 0 1rem;
}

.sidemenuVisible {
  display: none;
}

@media (max-width: 1600px) {
  div.container a {
    font-size: 1.1rem;
    margin: 0px 5px;
    padding: 8px 5px;
  }
}

@media (max-width: 1400px) {
  .sidemenuVisible {
    display: block;
  }
  .container {
    display: none;
  }
  nav.navPanel {
    height: 6rem;
    justify-content: space-evenly;
    padding-left: 5rem;
    padding-top: 5px;
  }
  .logo {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .socialIcon {
    margin: 0 0.7rem;
  }
}
