@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200;400&family=Special+Elite&display=swap');
.main {
  padding: 15px 10px 15px;
}

.container {
  height: 540px;
  width: 380px;
  margin: 30px 20px;
  border-radius: 16px;
  position: relative;
  background-color: white;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.title {
  text-align: center;
  line-height: 1;
  font: 18px Raleway;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  padding: 20px 0 5px 0;
}

.title__profession {
  text-align: center;
  margin-top: 10px;
  font: 16px Raleway;
  color: rgb(76, 164, 202);
  font-style: italic;
  font-weight: 500;
}

.title__block {
 height: 90px;
 padding: 0.5rem
}

.description {
  margin: 0;
  padding: 30px 25px;
  font: 15px Raleway;
  line-height: 1.2;
  margin-bottom: 20px;
  height: 273px;
}

.nomination {
  padding: 0px 25px;
  height: 79px;
  font: 0.85rem Raleway;  
}

.footer {
 font: 16px Raleway;
 color: white;
 font-weight: 700;
 text-align: center;
 padding: 10px;
 background: rgba(76,164,202, 0.5);
 height: 78px;
 border-bottom-left-radius: 16px;
 border-bottom-right-radius: 16px;
}

.footer p {
 font-weight: 600;
 margin-top: 5px;
 color: black;
}

@media (max-width: 650px) {

  .title__block {
    height: 120px
  }
  .description {
    height: 243px;
    font: 14px Raleway;
    padding: 15px 20px;
  }

  .container {
    margin: 30px 0px;
  }
}


