@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive&family=Lekton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.whatWeWant {
  display: flex;
  width: 100%;
  color: #161534;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 0 2rem 0;
}

.blueDot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(76, 164, 202, 0.5);
  margin: 0.5rem 0.5rem;
}

.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 1rem;
}

.programme {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.theme {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* font-size: 8vw; */
  font-weight: 600;
  color:#161534;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
  margin-right: -5rem;
}

.theme p {
  width: 15rem;
}

.content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.title {
  font-weight: 800;
  font-family: Raleway;
  line-height: 1;
  font-size: 2.5rem;
  color: #161534;
  position: sticky;
  top: 0;
  transition: all 0.2s ease-in;
}

.text {
  line-height: 26px;
  margin: 2rem 0;
}

.text p {
  margin: 0 0 1rem 0;
  font-family: Raleway;
  font-size: 1.2rem;
  line-height: 1.5;
  word-wrap:break-word;
}

.subheading {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  color: #161534;
  margin: 2rem 0 1rem 0;
}

.emailHeading {
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 600;
  color: #161534;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.themeImage {
  position: relative;
  width: 100px;
  height: 100px;
}

@media (max-width: 1024px) {
  .theme p {
    width: 8rem;
    font-size: 2rem;
  }

  .themeImage {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }

  .whatWeWant {
    flex-direction: column;
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
    text-align: center;
    padding: 0 1.5rem;
  }

  .whatWeWant div {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .emailHeading {
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }

  .content {
    grid-template-columns: 1fr;
  }
  .theme p {
    width: 12rem;
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .theme {
    flex-direction: column;
    margin-right: 0;
    height: 9rem;
  }

  .text p {
    font-size: 1rem;
  }

  .themeImage {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1.5rem;
  }

  .whatWeWant {
    font-size: 1.3rem;
    padding: 0 1.5rem;
  }

  .blueDot {
    width: 12px;
    height: 12px;
    margin: 0.3rem 0.3rem;
  }

  .subheading {
    font-size: 1.1rem;
  }

  .emailHeading {
    font-size: 1.2rem;
    word-break: break-all;
    padding: 0 1.5rem;
  }

  .text p {
    font-size: 15px;
  }

  .theme {
    width: 10rem;
    height: 7rem;
  }

  .theme p {
    width: 10rem;
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .themeImage {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .theme {
    width: 6rem;
  }

  .theme p {
    width: 6rem;
  }
}