
.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}


.title {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem auto;
}

.paragraphs {
  width: 50%;
  margin: 0 auto;
}

.paragraph {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px 30px;
}

.image {
  margin: 0 auto;
}

.allPosts__container {
  display: flex;
}

.allPosts__menu {
  width: 20%;
  margin: 2rem;
  position: relative;
}

.allPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem;
}

.menuItem {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(76, 164, 202);
  margin: 1rem auto;
}

.menuItem:hover {
  text-decoration: underline;
  cursor: pointer;
}
