@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive&family=Lekton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Indie+Flower&family=Gochi+Hand');

.home {
  position: relative;
  display: flex;
  height: 100vh;
}

.aboutUs {
  display: flex;
  width: 100%;
  color: #161534;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 0 2rem 0;
}

.coworkers {
  display: flex;
  width: 100%;
  color: #161534;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  margin: 8rem 0 2rem 0;
}

.blueDot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(76, 164, 202, 0.5);
  margin: 0.5rem 0.5rem;
}

.whoWeAre, .smallProfiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
}

.advisors {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.aktuality {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aktualityContainer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: rgba(76, 164, 202, 0.1);
}

.programme {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 2rem 2rem;

}

.programme__item {
  text-align: center;
  flex-basis: 25%;
}

.programme__image {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #70b6d5;
  border: solid white 1px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
}


.programme__image:active {
  animation: press 0.2s 1 linear;
}

@keyframes press {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.92);
  }

  to {
    transform: scale(1);
  }
}

.programme__text {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 1rem;
  color: #fff;
}

.icon {
  margin-right: 2rem;
}

.blueCircle, .blueCircle__2, .blueCircle__3 {
  border-radius: 50%;
  position: absolute;
  z-index: -10;
}


.blueCircle {
  width: 150px;
  height: 150px;
  background: repeating-linear-gradient(50deg,
      rgba(76, 164, 202, 0.1),
      rgba(76, 164, 202, 0.1) 3px,
      #FFF 3px,
      #FFF 5px);

  top: -2rem;
  right: 55%;

}

.blueCircle__2 {
  width: 200px;
  height: 200px;
  background: repeating-linear-gradient(-40deg,
      rgba(76, 164, 202, 0.1),
      rgba(76, 164, 202, 0.1) 3px,
      #FFF 3px,
      #FFF 5px);
  bottom: 10rem;
  left: -3rem;

}

.blueCircle__3 {
  width: 100px;
  height: 100px;
  background-color: rgba(76, 164, 202, 0.1);
  bottom: -3rem;
  left: 30%;
}

.arrow {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.footer {
  height: 2rem;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  margin-top: 2rem;
}

.allNews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
  transition: transform ease 0.5s;
}

.allNews:hover {
  transform: translate(15px, 0);
}

.displayAll {
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  margin-right: 1rem;
}

.displayAll:hover {
  text-decoration: underline;
}

.buttonDiv {
  margin: 2rem auto;
  text-align: center;
}

.buttonDiv:active {
  text-align: center;
  margin: 2rem auto;
  animation: press 0.2s 1 linear;
}

.button {
  background-color: rgb(76, 164, 202);
  border-radius: 30px;
  padding: 20px 25px;
  color: white;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  width: 12rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:hover {
  background-color: #70b6d5;
}

.experts {
  width: 60%;
  margin: 0 auto;
  font-size: 1.4rem;
  font-family: Raleway;
  line-height: 2;
  margin-top: 3rem;
  text-align: center;
}

.arrowBack {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

.arrowBack__programme {
  position: absolute;
  top: 12rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(70%);
}

.logo {
  width: 50rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.statement {
  font-size: 4rem;
  color: white;
  font-family: Montserrat;
  margin: 0 auto;
  margin-top: 20%;
}

.contact {
  min-height: 70rem;
}

.programme__info {
  font-family: Raleway;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
}

.programme__download {
  font-family: Raleway;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  color: rgb(76, 164, 202);
}

.programme__download:hover {
  cursor: pointer;
  color: #70b6d5;
}

@media (max-width: 1600px) {
  .statement {
    font-size: 3rem;
    margin-top: 30%;
  }

  .aktuality {
    margin: 0 10%;
  }

  .contact {
    min-height: 65rem;
  }
}


@media (max-width: 1250px) {
  .aboutUs, .coworkers {
    font-size: 1.3rem;
  }

  .blueDot {
    width: 10px;
    height: 10px;
  }

  .statement {
    font-size: 2.5rem;
    margin-top: 35%;
  }

  .logo {
    width: 40rem;
  }

  .aktuality {
    margin: 0 auto;
  }

  .contact {
    min-height: 70rem;
  }
}

@media (max-width: 1024px) {
  .home {
    flex-direction: column;
  }

  .home>div:first-child {
    order: 2;
  }

  .whoWeAre {
    padding: 0;
  }

  .statement {
    font-size: 2rem;
    margin-top: 40%;
  }

  .experts {
    width: 80%;
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.4rem;
  }

  .contact {
    min-height: 65rem;
  }

  .displayAll {
    font-size: 1.3rem;
  }
}

.cardBigShadow {
  width: 250px;
  position: relative;
}

.coloured-cards .card {
  margin-top: 30px;
}

.card[data-radius="none"] {
  border-radius: 0px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  height: 16rem;
}


/* .card[data-background="image"] .title, .card[data-background="image"] .stats, .card[data-background="image"], .card[data-background="image"] .description, .card[data-background="image"] .content, .card[data-background="image"] .card-footer, .card[data-background="image"] small, .card[data-background="image"] .content a, .card[data-background="color"] .title, .card[data-background="color"] .stats, .card[data-background="color"] .category, .card[data-background="color"] .description, .card[data-background="color"] .content, .card[data-background="color"] .card-footer, .card[data-background="color"] small, .card[data-background="color"] .content a {
  color: #FFFFFF;
} */
/* .card.cardJustText .content {
  
  text-align: center;
} */
/* .card .content {
  padding: 20px 20px 10px 20px;
} */

.card .category {
  color: rgb(74, 73, 73);
  font-size: 2.5rem;
  font-family: Gochi Hand;
  text-align: right;
  margin-right: 1rem;
}


.cardBigShadow:before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, transparent 70%);
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.card .description {
  font-size: 16px;
  color: #66615b;
}

.contentCard {
  margin: 30px;

}

/*======== COLORS ===========*/
.card[data-color="blue"] {
  background: #b8d8d8;
}


.card[data-color="green"] {
  background: #d5e5a3;
}


.card[data-color="yellow"] {
  background: #ffe28c;
}


.card[data-color="brown"] {
  background: #d6c1ab;
}


.card[data-color="purple"] {
  background: #baa9ba;
}


.card[data-color="orange"] {
  background: #ff8f5e;
}


@media (max-width: 768px) {
  .contact {
    padding-left: 0;
    padding-right: 0;
    min-height: 60rem;
  }

  .arrow {
    visibility: hidden;
  }

  .footer {
    font-size: 0.8rem;
  }

  .blueCircle, .blueCircle__2, .blueCircle__3 {
    visibility: hidden;
  }

  .logo {
    width: 35rem;
    margin-top: 8rem;
  }

  .statement {
    font-size: 2rem;
    margin: 50% 10%;
    text-align: center;
  }

  .arrowBack {
    width: 20px;
  }
}

@media (max-width: 650px) {
  .statement {
    font-size: 1.5rem;
    margin: 70% 10%;
    text-align: center;
  }

  .logo {
    width: 20rem;
  }

  .video {
    width: auto;
  }

  .coworkers {
    margin: 3rem 0 2rem 0;
  }

  .contact {
    min-height: 75rem
  }

  .displayAll {
    font-size: 1.1rem;
  }

  .experts {
    width: 95%;
    font-size: 1rem;
  }
}

.subscribeBox {
  font-family: Montserrat;
  padding: 6em 0;
  text-align: center;
}

.subscribeBox h2 {
  margin: 0 0 .85em 0;
  font-size: 30px;
}

.newsletterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
}

.newsletter {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.newsletter input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 .8em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}

.newsletter input::placeholder {
  color: rgb(85, 85, 85);
}

.newsletter button {
  all: unset;
  margin-top: 2.4em;
  background: #4CA4CA;
  color: white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.newsletter button:hover {
  transform: translateX(10px);
}

.archiveTitle {
  font-size: 1.5rem;
}

.archiveItem {
  font-weight: 600;
  font-size: 1.2rem;
}

.archiveItem:hover {
  text-decoration: underline;
}

.bridgeSection {
  font-family: Montserrat;
}

.bridgeInfo {
  width: 100%;
  @media (min-width: 768px) {
    width: 83.333333%;
  }
  @media (min-width: 1024px) {
    width: 50%; 
  }
  text-align: center;
  margin: 2rem auto;
}

.heading {
  font-size: 1.25rem; 
  font-weight: 600; 
  color: #161534; 
  margin-bottom: 0.5rem; 
  text-align: center;
  margin: 3rem 0;
}

.docs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.doc {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  padding: 1.5em;
  width: 20rem;
  box-shadow: 0 3px 0 #ddd;
  margin: 1rem;
}

.bridgeHeader {
  padding: 1rem;
}

.bridgeTitle {
  display: flex;
  width: 100%;
  color: #161534;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

